#artists {
  span {
    white-space: nowrap;
    color: $accent;

    &.active,
    &:hover {
      color: darken($accent, 7.5);
      cursor: pointer;
    }
  }
}

#modalArtist img {
  max-width: 70%;
  margin: 0 auto;
  display: block;
}