#artists {
  span {
    white-space: nowrap;
    color: $accent;

    &.active,
    &:hover {
      color: darken($accent, 7.5);
      cursor: pointer;
    }
  }
}
#modalArtist{
  
}
#modalArtist img {
  max-width: 70%;
  margin: 0 auto;
  display: block;
  
}
.artistLink{
  cursor: pointer;
  color: $accent;
}
.artist h2{
  color: $accent;
}
.modal-content{
  &.archived{
    background-color: transparent;
    border:none;
  }
  .modal-footer{
    border: none;
    li {
      a {
        line-height: 50px;
        width: 50px;
        height: 50px;
        font-size: 21px;
      }
    }
  }
}

