.collective {
  padding: 20px 0;
  
  img {
    max-height: 125px;
    max-width: 125px;
    -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
    &.active,
    &:hover {
      cursor: pointer;
    }
  }
}