// Styling for the contact section
section#contact {
  .section-heading {
    color: $white;
  }
  .form-group {
    margin-bottom: 25px;
    input,
    textarea {
      padding: 20px;
    }
    .btn {
      padding: 20px;
      font-size: 18px;
    }
    div.form-control,
    input.form-control {
      height: auto;
    }
    textarea.form-control {
      height: 338px;
    }
  }
  .form-control:focus {
    border-color: $primary;
    box-shadow: none;
  }
  .bs-placeholder,
  ::-webkit-input-placeholder {
    font-weight: 700;
    color: $gray-400;
    @include heading-font;
  }
  :-moz-placeholder {
    font-weight: 700;
    color: $gray-400;
    @include heading-font;
  }
  ::-moz-placeholder {
    font-weight: 700;
    color: $gray-400;
    @include heading-font;
  }
  :-ms-input-placeholder {
    font-weight: 700;
    color: $gray-400;
    @include heading-font;
  }
}
