// Styling for the contact section
section#contact {
  background-color: $primary;
  .box-shadow-full {
    padding: 3rem;
    position: relative;
    background-color: $white;
    z-index: 2;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  }
  .title-left:before {
    content: '';
    position: absolute;
    height: 3px;
    background-color: $accent;
    width: 100px;
    bottom: -12px;
  }
  .title-box {
    position: relative;
    margin-bottom: 3rem;
  }
  .form-control:focus {
    border-color: $accent;
    box-shadow: none;
  }
  .list-ico {
    line-height: 2;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;

    i {
      margin-right: 10px;
    }
  }
  .subjectSelect {
    font-weight: 400;
    color: #495057;
    border: 1px solid #ced4da;
  }
  .custom-control-input:checked ~ .custom-control-label::before {
    border-color: $accent;
    background-color: $accent;
  }

  .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0;
    border-color: $accent;
  }

  .custom-control-label {
    color: $gray-700;
  }

  small {
    color: $gray-600;
  }

  .spinner-border-sm {
    width: 1.5rem;
    height: 1.5rem;
  }

  .btn-primary:disabled {
    background-color: lighten($accent, 20);
    border-color: lighten($accent, 20);
  }
}