// Styling for the footer
footer {
  padding: 25px 0;
  text-align: center;
  span.copyright {
    font-size: 70%;
    line-height: 40px;
    text-transform: none;
    @include custom-font;
  }

  ul.social-buttons {
    padding: 10px 0 !important;
    margin-bottom: 0;
    li {
      a {
        border-bottom: none !important;
        padding: 0 !important;
        font-size: 32px;
        line-height: 60px;
        display: block;
        width: 60px;
        height: 60px;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
        color: $gray-200 !important;
        border-radius: 100%;
        outline: none;
        background-color: $primary;
        &:active,
        &:focus,
        &:hover {
          color: $accent !important;
          background-color: darken($primary, 7.5%) !important;
        }
      }
    }
  }
}