// Global styling for this template
body {
  overflow-x: hidden;
  font-size: 1.1rem;
  @include body-font;
}

p {
  line-height: 1.75;
}

a {
  color: $accent;
  &:hover {
    color: darken($accent, 10%);
  }
}

.text-primary {
  color: $accent !important;
}

.text-muted {
  color: $gray-700 !important;
}

.lead {
  color: $gray-700;
  font-size: 1.3rem;
  font-weight:500;
}

.dot {
  font-size: 6px;
  vertical-align: middle;
  margin-left: 10px;
  margin-right: 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  @include heading-font;
}

section {
  padding: 100px 0;
  h2.section-heading {
    font-size: 2.4rem;
    margin-top: 0;
    margin-bottom: 15px;
  }
  h3.section-subheading {
    font-size: 1.2rem;
    font-weight: 400;
    font-style: italic;
    text-transform: none;
    @include heading-font;
  }
  .title-box {
    margin-bottom: 3rem;
  }
}

ul.social-buttons {
  li {
    a {
      line-height: 40px;
      width: 40px;
      height: 40px;
      text-align: center;
      font-size: 20px;
      display: block;
      color: white !important;
      border-radius: 100%;
      outline: none;
      background-color: $accent;
      &:active,
      &:focus,
      &:hover {
        background-color: darken($accent, 7.5);
      }
    }
  }
}

// Button Styles
.btn {
  @include heading-font;
  font-weight: 700;
}

.btn-xl {
  font-size: 18px;
  padding: 15px 20px;
}

.btn-primary {
  color: $white !important;
  background-color: $accent;
  border-color: $accent;
  &:active,
  &:focus,
  &:hover {
    color: $white;
    background-color: darken($accent, 7.5%) !important;
    border-color: darken($accent, 7.5%) !important;
  }
  &:active,
  &:focus {
    box-shadow: 0 0 0 0.2rem darken($accent, 15%) !important;
  }
}

.modal-header,
.modal-footer {
  padding-left: 2rem;
  padding-right: 2rem;
  > * {
    margin: 0;
  }
}

// Highlight color customization
::-moz-selection {
  background: $accent;
  text-shadow: none;
}

::selection {
  background: $accent;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

@media(min-width:768px) {
  section {
    padding: 150px 0;
    h2.section-heading {
      font-size: 2.8rem;
    }
  }

  .btn-xl {
    padding: 20px 40px;
  }
}