// Styling for the services section
.info-box {
  background-color: #fff;
  padding: 2.5rem 1.3rem;
  height: 100%;
  border-radius: 1rem;
  box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);

  .info-title {
    font-size: 1.6rem;
    text-transform: uppercase;
    text-align: center;
    padding: .4rem 0;
  }

  hr.divider {
    max-width: 3.25rem;
    border-width: 0.2rem;
    margin: 1rem auto;
    border-color: $accent;
  }
}
.teilhabe-img{
  width: 100%;
  height: auto;
}
