// Styling for the masthead
header.masthead {
  text-align: center;
  color: white;
  background-image: url('../img/header-bg.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  .intro-text {
    padding-top: 125px;
    padding-bottom: 75px;
    .intro-lead-in {
      @include serif-font;
    }
    .intro-button {
      margin-top: 50px;
    }
  }
}
@media(min-width:768px) {
  header.masthead {
    .intro-text {
      padding-top: 250px;
      padding-bottom: 200px;
    }
  }
}
