// Styling for the masthead
header.masthead {
  height: 100vh;
  text-align: center;
  color: white;
  background-image: url('../img/header-bg.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  .intro-text {
    text-transform: uppercase;
    padding-top: 40vh;
    text-shadow: 2px 2px 3px #8a65a8;
    .intro-lead-in {
      font-size: 60px;
      font-weight: 700;
      line-height: 60px;
      margin-bottom: 25px;
      @include heading-font;
    }
    .intro-heading {
      font-size: 35px;
      font-weight: 700;
      line-height: 35px;
      margin-bottom: 25px;
      @include heading-font;
    }
    .down {
      border-radius: 100%;
      width: 46px;
      height: 46px;
    }
  }
}
@media(min-width:768px) {
  header.masthead {
    .intro-text {
      padding-top: 42vh;
      .intro-lead-in {
        font-size: 65px;
        line-height: 65px;
        margin-bottom: 20px;
      }
      .intro-heading {
        font-size: 40px;
        font-weight: 700;
        line-height: 40px;
        margin-bottom: 50px;
      }
    }
  }
}