// Styling for the masthead
header.masthead {
  height: 100vh;
  background-color: #553d6d;
  .down {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 15%;
    margin: 0 auto;
    border-radius: 100%;
    width: 46px;
    height: 46px;
  }
  .cover {
    margin: 0 auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
}
.header__bgimg {
  background-image: url("../img/header-bg.gif");
  background-position: 93%;
  background-size: cover;
  background-repeat: no-repeat;
}

@media(min-width:768px) {
  header.masthead {
    .down {
      bottom: 10%;
    }
  }
}