// Font Mixins
@mixin custom-font {
  font-family: 'Favorit Std Light', serif;
  font-style: normal;
  font-weight: 400;
}

@font-face {
  src: local('Favorit Std Light'), local('FavoritStd-Light-Regular'), url('FavoritStd-Light.woff') format('woff');
}