// Variables

// Restated Bootstrap Variables

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;

//2022
/*
$accent22: #ffa200 !default;
$primary22: #ececec !default;
$secondary22: #010101 !default;
$info22: #45415c !default;
$lightAccent22: #d5c8e0 !default;

$tarmac-lila: #45415c;
$tarmac-orange: #ffa200;

$accent: $tarmac-orange !default;
$primary: $tarmac-lila !default;
$secondary: $accent22 !default;
$success: $tarmac-orange;
$info: $info22 !default;
$danger: $tarmac-orange;
$light: #ececec;
$dark: #101010;
$lightAccent: #d5c8e0 !default;
*/
//2023
$tarmac-trks: #9acccb;
$tarmac-vltt: #58466e;
$tarmac-orag: #de866f;
$tarmac-yellw: #ffe27f;
$tarmac-cyan: #4cb6a1;
//2024
//kombi1
$tarmac-24-blue:#0000ff;
$tarmac-24-orange:#f29244;
$tarmac-24-green:#00ffba;

//kombi2
$tarmac-24-violett:#4e4bb4;
$tarmac-24-red:#ff5858;
$tarmac-24-cyan:#0afff1;

//2025
$tarmac-25-lila:#450b6f;
$tarmac-25-green: #74ff40;



$accent: $tarmac-25-lila !default;
$primary: $tarmac-25-green !default;
$secondary: $tarmac-25-lila !default;
//$primary: $tarmac-24-orange !default;
//$secondary: $tarmac-24-blue !default;
//$accent: $tarmac-24-blue !default;
$success: $tarmac-25-green;
$info: $tarmac-25-lila !default;
$danger: $tarmac-24-red;
$light: #ececec;
$dark: #101010;
$lightAccent: #d5c8e0 !default;

$emphasis: $tarmac-25-green;
