// Styling for the masthead
header.masthead {
  text-align: center;
  color: white;
  background-image: url('../img/header-bg.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  .intro-text {
    padding-top: 150px;
    padding-bottom: 80px;
    text-shadow: 2px 2px 3px #8a65a8;
    .intro-lead-in {
      font-size: 32px;
      font-style: italic !important;
      font-weight: 700;
      line-height: 32px;
      margin-bottom: 40px;
      @include heading-font;
    }
    .intro-heading {
      font-size: 46px;
      font-weight: 700;
      line-height: 46px;
      margin-bottom: 25px;
      @include heading-font;
    }
  }
}
@media(min-width:768px) {
  header.masthead {
    .intro-text {
      padding-top: 215px;
      padding-bottom: 200px;
      .intro-lead-in {
        font-size: 50px;
        font-style: italic;
        line-height: 50px;
        margin-bottom: 30px;
      }
      .intro-heading {
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
        margin-bottom: 50px;
      }
    }
  }
}