// Styling for the masthead
header.masthead {
  height: 100vh;
  text-align: center;
  color: white;
  background-image: url('../img/header-bg.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  .intro-text {
    padding-top: 35vh;
    text-shadow: 2px 2px 3px #8a65a8;
    .intro-lead-in {
      font-size: 70px;
      font-weight: 700;
      line-height: 70px;
      margin-bottom: 30px;
      @include heading-font;
    }
    .intro-heading {
      font-size: 32px;
      font-weight: 700;
      line-height: 32px;
      margin-bottom: 25px;
      @include heading-font;
    }
  }
}
@media(min-width:768px) {
  header.masthead {
    .intro-text {
      padding-top: 41vh;
      .intro-lead-in {
        font-size: 80px;
        font-style: italic;
        line-height: 80px;
        margin-bottom: 20px;
      }
      .intro-heading {
        font-size: 42px;
        font-weight: 700;
        line-height: 42px;
        margin-bottom: 50px;
      }
    }
  }
}