// Font Mixins
@mixin body-font {
  font-family: 'Roboto Slab', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}
@mixin heading-font {
  font-family: 'Favorit Std Light', serif;
  font-style: normal;
  font-weight: 500;
}

@font-face {
  src: local('Favorit Std Light'), local('FavoritStd-Light-Regular'), url('FavoritStd-Light.woff') format('woff');
}